<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>GrandPy</title>
    <script type="text/javascript" src="/static/script.js"></script>
</head>

<body>

    <!-- Haut de page -->
    <header>
        <h1>Super GrandPy</h1>
    </header>

    <!-- Contenue sous forme de bd-->
    <div id="content">

        <div class="bulle1gauche">
            <p>
                Bonjour, mon enfant. Ca fait bien longtemps que tu n'es pas passez me voir. Tu as une question ?

            </p>
            <p id="spinner" style="display: none"><span class="gg-spinner">

                </span>
            </p>
        </div>

        <div class="bulle1droite">

            <p>
                Nouvelle durée : <input type="text" id="new_temps_cycle" value="">
                <button id="valider1" onclick="text_user()">Valider</button>
            </p>
            <p>
                <span id="erreur">

                </span>
            </p>
        </div>

        <div class="bulle2gauche">
            <p>
                HEYYYY
            </p>
        </div>

        <div class="bulle2droite">
            <p>
                HEYYYY
            </p>

        </div>
    </div>


    <!-- Pied de page-->
    <footer>
        <h3>Créateur: Dubois François</h3>
        <h4>Description</h4>
        <p>Jeune developpeur de 26ans (plus si jeune que ca du coup). Tu es sur mon tout premier site internet. J'espere
            que GrandPy te plaira.<br />
            <a href="https://github.com/Frantz680?tab=overview&from=2020-10-01&to=2020-10-31">Lien vers mon Github</a> &
            <a href="https://www.linkedin.com/in/françois-dubois-543a0b177"> Lien vers mon Linkedin</a>
        </p>
    </footer>
</body>

</html>